<section class="container mt-3">
    <h2>Añade un nuevo producto a la lista</h2>
    <hr>
    <form [formGroup]="modelForm" (ngSubmit)="getDataForm()">
        <div class="my-2">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce el nombre del producto" id="name" formControlName="name">
            @if(checkControl('name', 'required')){
                <p class="error">Campo requerido</p>
            }
            @if(checkControl('name', 'minlength')){
                <p class="error">El nombre del producto debe tener al menos 3 caracteres</p>
            }
        </div>

        <div class="my-2">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce la descripción del producto" id="description" formControlName="description">
            @if(checkControl('description', 'required')){
                <p class="error">Campo requerido</p>
            }
            @if(checkControl('description', 'minlength')){
                <p class="error">La descripción es demasiado corta</p>
            }
        </div>

        <div class="my-2">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control mb-1" placeholder="Introduce el precio del producto" id="price" formControlName="price">
            @if(checkControl('price', 'required')){
                <p class="error">Campo requerido</p>
            }
            @if(checkControl('price', 'min')){
                <p class="error">El valor del precio no puede ser inferior a 1 €</p>
            }
        </div>

        <div class="my-2">
            <label for="category" class="form-label">Categoria</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce la categoria del producto" id="category" formControlName="category">
            @if(checkControl('category', 'required')){
                <p class="error">Campo requerido</p>
            }
        </div>

        <div class="my-2">
            <label for="image" class="form-label">Imagen</label>
            <input type="text" class="form-control mb-1" placeholder="Adjunta la imagen del producto" id="image" formControlName="image">
            @if(checkControl('image', 'required')){
                <p class="error">Campo requerido</p>
            }
        </div>

        <input type="submit" value="Enviar" class="btn btn-secondary mt-3">

    </form>
    
</section>

