input.ng-valid.ng-touched{
    border: 2px solid rgb(180, 226, 224);
}

input.ng-invalid.ng-touched{
    border: 2px solid tomato;
}

.error{
    color: tomato;
    font-size: 80%;
    margin: 0px 0px 0px 15px;
}